body {
	background: #f1edee;
}

header {
	background: #3D5467;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 1150px;
	margin: 0 auto;
}

.logo {
	width: 10%;
}

nav {
	position: absolute;
	top: 50px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.espaco {
	text-align: center;
	padding: 0.01px;
}

.inicio1 {
	padding: 10px 10px;
	background: #f1edee;
}


.inicio {
	margin: 30px 30px;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
	box-shadow: 0 0 1em black;
    padding: 30px;
    background: #f1edee;
}

.inicio2 {
	margin: 30px 30px;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
	box-shadow: 0 0 1em black;
    padding: 30px;
    background: #f1edee;

}

.titulo-inicio {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.texto-inicio {
    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
}

.titulo-inicio2 {
	padding-top: 10px;
	text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.titulo-inicio3 {
	padding-top: 40px;
	text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

table {
	border-collapse: collapse;
	border: 3px solid;
	width: 75%;
}

caption {
	padding: 10px 5px;
	font-weight: bold;
	font-size: 25px;
}

thead {
	font-weight: bold;
}

tbody {
	font-size: 90%;
	font-style: italic;
	letter-spacing: 1px;
}

td {
	padding: 3px;
	text-align: center;
	border: 3px solid;
}

.mapa {
	padding-top: 50px;
	padding-left: 280px;
}

footer {
	text-align: center;
	background: #3D5467;
	padding: 20px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}